{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
{% endblock %}
{% block content %}
  

<script>
$(function()	{
$.getJSON('{% static "countries.json" %}', function(data) {
$("#id_country"	).autocomplete({
source:	data
});
});
});
</script>

				<form action="" method="post">{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Enviar" />
			
				</form>
	


{% endblock %}


   

