{% extends "base.html" %}


{% block content %}
	
				<table>

		{% for review in review %}
			<b> User: </b> {{ review.user }} <br/>
			<b> Date: </b> {{ review.date }} <br/>
			<b> Model: </b> {{ review.model }} <br/>
			<b> Rating: </b> {{ review.rating }}  <br/> 
			<b> Comment: </b> {{ review.comment }}  <br/>
			<b> Price found: </b> {{ review.price_found }} <br/>
			
			<b> Shop: </b><a href="http://{{ review.shop_url }}"> {{ review.shop_name }}</a> <br/>
			  <br/>
			<a href="/models/view/{{ review.model.pk }}">View model</a> </td></tr>
			
		{% endfor %}
</table>
	




{% endblock %}


   

