{% extends "base.html" %}
{% block head %}
     	<script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% endblock %}
{% load staticfiles %}
{% block content %}

<div prefix="
  rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
  foaf: http://xmlns.com/foaf/0.1/
  gr: http://purl.org/goodrelations/v1#
  xsd: http://www.w3.org/2001/XMLSchema#"


<div id="content">
<span vocab="http://schema.org/" typeof="Product">
<h1>
    <span property="name">{{ brand }} {{ name }}</span>
</h1>
	<!-- START Model RDFA info-->
		{% if pictureurl|length > 0 %}
			 <div rel="foaf:img"><img src="{{ pictureurl }}" width ="500" align="right"> </img></div>
		{% endif %}
		Brand:  <span property="brand">{{ brand }}  </span>  <a href="/brands/view/{{ brand }}">Brand Details  </a>  <a rel="foaf:Brand_Page" href="http://{{ brand.web }}">Brand Website</a> 			</br>
		Model: <span property="model">{{ name }}</span></br>
		Date of launchment: {{ date }}</br></br>
		Added by: <span property="gr:author"> {{ user }}</span> </br></br>

 		     <span property="gr:hasPriceSpecification" typeof="gr:UnitPriceSpecification">
  			 Price: <b><span property="gr:hasCurrencyValue" datatype="xsd:float">{{ price }}</span>    
			<span property="gr:hasCurrency" content="EUR">€</span></span></b></br>
 	<!-- FINISH model rdfa info --> 

		</br>
		<a href="/brands/view/{{ brand }}/models/"> Other {{ brand }} Model </a>
		</br>

		</br>
		
		<a href="/review/{{ id }}/add/"> Add Review </a>
		</br>
		</center>

<!-- START Review RDFA info-->
<h2>Reviews</h2>
<span rel="aggregateRating">
    <p typeof="AggregateRating">
        Average rating <span property="ratingValue">{{reviewrating.rating__avg}}</span> out of <span property="bestRating">{{ RATING_CHOICES.4.0 }}</span>
        from <span property="reviewCount">{{ review|length }}</span> reviews
    </p>
</span>




<ul rel="review">
      
       
		{% for review in review %}

			<li typeof="Review">
            <p rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                <span property="ratingValue">{{ review.rating }}</span> stars
                <span property="bestRating" content="{{ RATING_CHOICES.4.0 }}"></span>
            </p>
            <p property="description">{{ review.comment }}</p>
            <p>Created by <span property="author">{{ review.user }}</span> on
                <span property="publishDate">{{ review.date }}</span></p> 
							<a href="/review/view/{{ review.pk }}"><img src="{% static "imatges/lupa.png" %}" width="30"></img></a>

        </li>
 	

		{% endfor %}
</ul>

 	<!-- FINISH review rdfa info --> 

</span>
</div>
</div>

{% endblock %}


