{% load staticfiles %}
<html>
<head>

	<title>{{ titlehead}} - Notebook Compare </title>
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
     	<script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "js/flexigrid.pack.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/flexigrid.pack.css" %}" />

</head>

<body>

<div id="Header">Notebook Compare  </div>
<div align="right">{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in. <a href="/logout/">Logout</a></p>
{% else %}
    <p>Welcome, new user. Please <a href="/login/">log in</a> or <a href="/register/"> register   </a> </p>
{% endif %} </div>
	<div id="Menu">
<h3>Menu</h3>
<a href="/">Home</a> <br />
<a href="/brands">List of Brands</a><br />
<a href="/models">List of Models</a><br />
<a href="/components">List of Components</a></br>
<a href="/specifications">List of Specifications</a><br />
<a href="/review/">List of Review</a><br />
<a href="/admin">Admin</a><br />

	</div>

<div id="Content"><h1>{{ titlehead}}</h1>{% block content %}{% endblock %}</div>	


</body>

</html>
