{% extends "base.html" %}


{% block content %}

	
		<center>
		{% if pictureurl|length > 0 %}
			<img src="{{ pictureurl }}" align="right"> </img>
		{% endif %}

		<h2>{{ brand }}  {{ name }}</h2> 
		Brand:  <a href="/brands/{{ brand }}"> 
		{{ brand }} </a>  </br>
		
		Price: <b>{{ price }} € </b></br>
		Date of launchment: {{ date }} </br></br>

		<table>
		<th>Specifications:</th>
		
		{% for name in spec %}
			<tr><td>{{ name }} </td></tr>
			
		{% endfor %}
		
		
		</table>
		</br>
		
		<a href="/brands/{{ brand }}/models/"> Other {{ brand }} Model </a>
		</br>

		</br>
		
		<a href="/review/{{ id }}/"> Add Review </a>
		</br>
		</center>
<table>
		<th>Reviews:</th>
		{% for review in review %}
			<tr><td>{{ review.rating }} </td> <td>{{ review.comment }} </td>
			<td>{{ review.user }} </td><td>{{ review.date }} </td>
			<td>{{ review.price_found }} </td><td>{{ review.shop_name }} </td>
			<td>{{ review.shop_url }} </td></tr>
			
		{% endfor %}
</table>
                         
                         

{% endblock %}


