{% extends "base.html" %}


{% block content %}


{% if state %}
    {{state}}

{% else %}
	<h2> Welcome {% if user.username %}{{ user.username }}{% else %}Guest{% endif %} to our notebookcompare application!</h2>
	<h3>With this app you can:</h3>
	<li><a href="/brands/">View a list with all our brands </a></li>
	<li><a href="/brands/ASUS">View the brand details (for example ASUS) </a></li>
	<li><a href="/brands/ASUS/models/">View all the brand notebook models (for example ASUS) </a></li>
	</br>
	<li><a href="/models/">View a list with all our models </a></li>
	<li><a href="/models/Z930">View the notebook details details (for example Z930) </a></li>
	</li>
	</br>
	<li><a href="/components/">View a list with all the components avaible and search your notebook trough the list </a></li>
	<li><a href="/components/CPU">View a list with the diferents specifications of a component (for example CPU) </a></li>
	<br>
	<li><a href="/specifications/">View a list with all the specifications avaible </a></li>
	<li><a href="/specifications/5">View a list with a specific specification (for example Intel Core i5) </a></li>
	<br>
	<li><a href="/login/">Log in with an user </a></li>
	<li><a href="/logout/">Log out</a></li>
	<br>
	<h3> New Functions</h3>
	<li><a href="/register/">Register a new user </a></li>


	<li><a href="/review/">View a list of reviews  </a></li>
	<li><a href="/review/3/add">Add Review a model </a></li>
	<li><a href="/review/1/view">View a list of reviews of a model </a></li>
	<li><a href="/review/view/3/">View a review </a></li>



	<h3> Pendent</h3>
	<li><a href="/review/3/modify/id/">Modify a review </a></li>
	<li><a href="/review/3/delete/id/">Delete a review </a></li>

	Afegir model portàtil
	Modificar model portàtil
	Eliminar model portàtil

	
	Afegir component
	Modificar Component
	Eliminar Component

	Canviar contrasenya
	Llistar portàtils creats
	llistar components creats
	
	


{% endif %}



{% endblock %}
